* {
    box-sizing: border-box;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    margin: 0;
    text-decoration: none;
    color: inherit;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}


/*--------------------  ESTILIZAÇÃO GERAL  ----------------------------*

/* define que as imagens tem que ter o tamanho máximo da div mãe */
.img-responsive {
    width: 275%;
}



/* ------------------------------------- Mobile First----------------------- */

                         /* NAV  --- NAV  --- NAV */

.navegacao {
    background-color: #8ab8e5;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    padding: 24px;
    z-index: 99;
    position: fixed;
    width: 100%;
   
}


.navegacao__logo {
    max-width: 250px;
}



.navegacao__itens {
    display: none;
}


                                       /* HEADER  --- HEADER  --- HEADER */

.header {
    min-height: 20px;
    height: 100px;
    display: flex;
    margin-bottom: 30px;
}




                                            /* MAIN  --- MAIN  --- MAIN*/
main{
    height:635px;
    align-items: center;
    justify-content: center;
}

                                               /* --- BOTAO --- */
.botao {
    text-align: center;
    align-items: center;
    margin: 10px;
}

button {
   
    background-color: #61AB28;
    color: aliceblue;
    font-weight: bold;
    font-size: 15px;
    border: 4px solid #00b527;
    border-radius: 7px;
    box-shadow: 2px 2px rgb(20, 20, 20);
    padding:8px;
}

button:hover {
    background-color: #b0d1af;
    color: rgb(54, 50, 50);
}



                                            /* --- FOOTER --- */

.rodape {
    background-color: #323534;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}




.rodape__cc {
    width: 100%;
    background-color: #292a2a;
    font-size: 14px;
    opacity: 0.5;
    text-align: center;
    padding: 10px;
}

/*  ------------------------------------- TABLET --- --- TABLET ----------------------------------------------- */
@media (min-width: 768px) {

                                               /* --- NAV --- */
    .navegacao__itens {
        position: static;
        display: flex;
        padding: 0;
        width: auto;
    }

    .navegacao__nav {
        color: #fff;
        margin-bottom: 0;
    }

    .navegacao__itens ul {
        display: flex;
        justify-content: space-around;
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .navegacao__itens li {
        font-size: 20px;
        margin: 0 9px;
    }

    .navegacao__box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
    }
    
    .logo {
        width: 100%;
    }

    .header {
        display: flex;
        text-align: center;
        margin-bottom: 30px;
        justify-content: center;
    }

                                                    /* MAIN  --- MAIN  --- MAIN*/

    button {
        padding:15px;
        font-size: 18px;
        border: 1px solid #177737;
        box-shadow: 3px 3px rgb(116, 114, 114);
    }

                                                          /* --- FOOTER --- */

    

    .rodape__cc {
        font-size: 22px;
    }
}



 /* --- DESKTOP--- --- ----------- DESKTOP--- --- DESKTOP------ --- DESKTOP-----------------   */
@media (min-width: 1200px) {
   
                                              /* --- NAV --- */
    .navegacao__itens li {
        font-size: 24px;
        margin: 0 16px;
    }

    
    .navegacao__box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
    }
  
                                      /* MAIN -------- MAIN --------- MAIN*/
     mai
    
    button {
        margin-bottom:40px;
        box-shadow: 2px 2px rgb(116, 114, 114);
        width:180px ;
    }
    
    

    

input{
    width: 380px;
    height:30px;
    border-radius:5px;
    display: block;
}



.navegacaoo{
    background-color: rgb(255, 255, 255);
    
      
}

.forms {
   
   
    align-items: center;
    display: flex;
 
    
}

.forms input{
 
   margin-bottom:35px;
  
    
}
.container-form{
    width:500px;
    height:400px;
    margin-left:570px;
    
}

.container-form2{
    
    width:500px;
    height:400px ;
}




.titulo{
    font-weight:bold;
    font-size:25px;
    color: #10365c;
}